<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    
    <title>POC webapp</title>

</head>
<body>
<div layout:fragment="content" class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <!--Usage of models we wrote in WepAppController th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username} -->
        <h3 th:text="'Welcome to Tamilnadu taxbook, created by ' + ${username}"></h3>
        <p th:text="'Todays date  ' + ${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"></p>
        
        <p id="target"></p>
        
        <!--  <form id="createBookFrm" action="#" th:object="${book}"  method="post">
		    <div class="form-group">
    			<label for="bookTitle">Title</label>
		        <input id="bookTitle" type="text" th:field="*{title}" class="form-control" placeholder="Enter book title" />
		    	<small id="titleHelp" class="form-text text-muted">Enter new book title.</small>
  			</div>
		    <div class="form-group">
    			<label for="bookAuthor">Author</label>
		        <input id="bookAuthor" type="text" th:field="*{author}" class="form-control" placeholder="Author name" />
		    </div>
		       
		    <input id="submit" type="submit" value="Submit" class="btn btn-primary"/> <input type="reset" value="Reset" class="btn btn-danger"/>
		</form>
		
		<br/>
		
		<table id="bookTable" class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Author</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${books}">
					<td th:text="${b.id}"></td>
					<td th:text="${b.title}"></td>
					<td th:text="${b.author}"></td>
				</tr>
			</tbody>
		</table> -->
		
		<table id="taxTable" class="table table-hover">
			<thead>
				<tr>
					<th>S.NO</th>
					<th>DEMAND NO</th>
					<th>DOOR NO</th>
					<th>HOUSE TYPE</th>
					<th>NAME</th>
					<th>F/H  NAME</th>
					<th>HEIGHT</th>
					<th>LENGTH</th>
					<th>TOTAL</th>
				</tr>
			</thead>
			<tbody>
				<tr colspan="9" data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>CONCRETE</td>
					<td>RANI</td>
					<td>MARUTHAIVEERAN</td>
					<td>27</td>
					<td>22</td>
					<td>594</td>
				</tr>
				<tr class="p">
				    <td colspan="9" class="hiddenRow">
					    <div class="accordian-body collapse p-3" id="demo1">
					         <div class="row">
					         	<div class="col-md-6">
					         		<h4>Required</h4>
					         		<h6>House Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>300</span> </p>
							        
							        <h6>Library Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>30</span> </p>
							        
							        <h6>Total Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>330</span> </p>
					         	</div>
					         	<div class="col-md-6">
					         		<h4>Received</h4>
					         		<h6>House Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>300</span> </p>
							        
							        <h6>Library Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>30</span> </p>
							        
							        <h6>Total Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>330</span> </p>
					         	</div>
					         </div>
					         
					    </div> 
				    </td> 
				</tr>
				<tr colspan="9" data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>IAY</td>
					<td>SAMPOORANAM</td>
					<td>SENTHIL</td>
					<td>22</td>
					<td>21</td>
					<td>462</td>
				</tr>
				<tr class="p">
				    <td colspan="9" class="hiddenRow">
					    <div class="accordian-body collapse p-3" id="demo2">
					         <div class="row">
					         	<div class="col-md-6">
					         		<h4>Required</h4>
					         		<h6>House Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>300</span> </p>
							        
							        <h6>Library Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>30</span> </p>
							        
							        <h6>Total Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>330</span> </p>
					         	</div>
					         	<div class="col-md-6">
					         		<h4>Received</h4>
					         		<h6>House Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>300</span> </p>
							        
							        <h6>Library Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>30</span> </p>
							        
							        <h6>Total Tax</h6>
					         		<p>Arrear : <span> </span></p>
							        <p>Current : <span>330</span> </p>
					         	</div>
					         </div>
					         
					    </div> 
				    </td> 
				</tr>
			</tbody>
		</table>
        
    </div>
</div> <!-- /container -->
<script src="../js/scripts/tax-table.js" th:href="@{/js/scripts/tax-table.js}"></script>

</body>
</html>