<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    
    <title>POC webapp</title>

</head>
<body>
<div layout:fragment="content" class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <!--Usage of models we wrote in WepAppController th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username} -->
        <h3 th:text="'Welcome to Tamilnadu taxbook, created by ' + ${username}"></h3>
        <p th:text="'Todays date  ' + ${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"></p>
        
        <p id="target"></p>
        
		<table id="taxTable" class="table table-sm table-hover tablemanager">
			<thead>
				<tr>
					<th>S.NO</th>
					<th>DEMAND NO</th>
					<th>DOOR NO</th>
					<th>HOUSE TYPE</th>
					<th>NAME</th>
					<th>F/H  NAME</th>
					<th>HEIGHT</th>
					<th>LENGTH</th>
					<th>TOTAL</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="tx,iter : ${allTaxAccs}">
					<tr colspan="9" data-toggle="collapse" th:attr="data-target=${'#demo' + iter.index}" class="accordion-toggle">
						<td th:text="${tx.sno}"></td>
						<td th:text="${tx.demandNo}"></td>
						<td th:text="${tx.doorNo}"></td>
						<td th:text="${tx.houseType}"></td>
						<td th:text="${tx.name}"></td>
						<td th:text="${tx.fhName}"></td>
						<td th:text="${tx.height}"></td>
						<td th:text="${tx.length}"></td>
						<td th:text="${tx.total}"></td>
					</tr>
					<tr class="p">
					    <td colspan="9" class="hiddenRow">
						    <div class="accordian-body collapse p-3" th:attr="id=${'#demo' + iter.index}">
						         <div class="row">
						         	<div class="col-md-6">
						         		<h4>Required</h4>
						         		<h6>House Tax</h6>
						         		<p>Arrear : <span  th:text="${tx.taxAccountMap['REQUIRED']?.houseTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['REQUIRED']?.houseTaxCurrent}"></span> </p>
								        
								        <h6>Library Tax</h6>
						         		<p>Arrear : <span th:text="${tx.taxAccountMap['REQUIRED']?.libertyTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['REQUIRED']?.libertyTaxCurrent}"></span> </p>
								        
								        <h6>Total Tax</h6>
						         		<p>Arrear : <span th:text="${tx.taxAccountMap['REQUIRED']?.totalTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['REQUIRED']?.totalTaxCurrent}"></span> </p>
						         	</div>
						         	<div class="col-md-6">
						         		<h4>Received</h4>
						         		<h6>House Tax</h6>
						         		<p>Arrear : <span th:text="${tx.taxAccountMap['RECEIVED']?.houseTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['RECEIVED']?.houseTaxCurrent}"></span> </p>
								        
								        <h6>Library Tax</h6>
						         		<p>Arrear : <span th:text="${tx.taxAccountMap['RECEIVED']?.libertyTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['RECEIVED']?.libertyTaxCurrent}"></span> </p>
								        
								        <h6>Total Tax</h6>
						         		<p>Arrear : <span th:text="${tx.taxAccountMap['RECEIVED']?.totalTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['RECEIVED']?.totalTaxCurrent}"></span> </p>
						         	</div>
						         </div>
						         
						    </div> 
					    </td> 
					</tr>
				</th:block>
			</tbody>
	</table>
        
    </div>
</div> <!-- /container -->

</body>
</html>