<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Link</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dropdown
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#">Disabled</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
	
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <!--Usage of models we wrote in WepAppController th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username} -->
        <h3 th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username}"></h3>
        <p th:text="'This date example  ' + ${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"></p>
        
        <p id="target"></p>
        
        <form id="createBookFrm" action="#" th:object="${book}"  method="post">
		    <div class="form-group">
    			<label for="bookTitle">Title</label>
		        <input id="bookTitle" type="text" th:field="*{title}" class="form-control" placeholder="Enter book title" />
		    	<small id="titleHelp" class="form-text text-muted">Enter new book title.</small>
  			</div>
		    <div class="form-group">
    			<label for="bookAuthor">Author</label>
		        <input id="bookAuthor" type="text" th:field="*{author}" class="form-control" placeholder="Author name" />
		    </div>
		       
		    <input id="submit" type="submit" value="Submit" class="btn btn-primary"/> <input type="reset" value="Reset" class="btn btn-danger"/>
		</form>
		
		<br/>
		
		<table id="bookTable" class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Author</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${books}">
					<td th:text="${b.id}"></td>
					<td th:text="${b.title}"></td>
					<td th:text="${b.author}"></td>
				</tr>
			</tbody>
		</table>
        
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

<script type="text/javascript">
$(document).ready(function(){
	console.log('Ready...');
    // click on button submit
    $("#createBookFrm").submit(function(e){
    	e.preventDefault(); // avoid to execute the actual submit of the form.
    	console.log('Create book form submitted...');
    	send();
    	
    });
});

function send() {
    var book = {
    	title: $("#bookTitle").val(),
    	author:$("#bookAuthor").val()
    }

    var $frm = $("#createBookFrm #submit");
    
    $.ajax({
        url: '/api/books',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        success: function (data) {
            $('#target').html(data.msg);
            findAll();
        },
        data: JSON.stringify(book)
    });
}

function findAll(){
	$.ajax({ 
	    type: 'GET', 
	    url: '/api/books',  
	    dataType: 'json',
	    success: function (data) {
	    	var tbl = $('#bookTable tbody');
	    	tbl.empty();
	        $.each(data, function(index, element) {
	        	tbl.append('<tr>' +
	        		'<td>'+element.id+' </td> ' +
	        		'<td>'+element.title+' </td>' +
	        		'<td>'+element.author+' </td>' +
	        		'</tr>');
	        });
	    }
	});
}
</script>
</body>
</html>