<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    
    <title>New tax entry</title>

</head>
<body>
<div layout:fragment="content" class="container" style="margin-top: 1%;">
    <div class="alert alert-primary show" role="alert">
  		Here you can make an entry of the new tax details.
	</div>
	<div id="newTaxEntryCreatedAlert" class="alert alert-success d-none" role="alert">
  		New tax entry created successfully
	</div>
	
	<form id="createTaxFrm" action="#" method="post">
		<div class="form-row">
		    <div class="form-group col-md-2">
		      <label for="inputSno">S. No</label>
		      <input type="text" class="form-control" id="inputSno">
		    </div>
		    <div class="form-group col-md-2">
		      <label for="inputDemandNo">Demand No</label>
		      <input type="text" class="form-control" id="inputDemandNo">
		    </div>
		    <div class="form-group col-md-2">
		      <label for="inputDoorNo">Door No</label>
		      <input type="text" class="form-control" id="inputDoorNo">
		    </div>
		    <div class="form-group col-md-6">
		      <label for="inputHouseTyp">House Type</label>
		      <select id="inputHouseTyp" class="form-control">
		        <option selected>Choose...</option>
		        <option>Concrete</option>
		        <option>IAY</option>
		        <option>ASBESTOS</option>
		        <option>...</option>
		      </select>
		    </div>
		 </div>
	  
	  <div class="form-row">
		    <div class="form-group col-md-6">
		      <label for="inputOwnerNm">Owner Name</label>
		      <input type="text" class="form-control" id="inputCity" placeholder="enter house owner name here">
		    </div>
		  <div class="form-group col-md-6">
		    <label for="inputFHname">F/H Name</label>
		    <input type="text" class="form-control" id="inputFHname" placeholder="enter f/h name here">
		  </div>
	  </div>
	  
	  <div class="form-row">
		  <div class="form-group col-md-4">
		    <label for="inputHeight">Height</label>
		    <input type="number" class="form-control" id="inputHeight" />
		  </div>
		  <div class="form-group col-md-4">
		    <label for="inputLength">Length</label>
		    <input type="number" class="form-control" id="inputLength" />
		  </div>
		  <div class="form-group col-md-4">
		    <label for="inputTotal">Total</label>
		    <input type="number" class="form-control" id="inputTotal" />
		  </div>
	  </div>
	  
	  <div class="form-row">
	  	<div class="form-group col-md-4 gray-box" id="taxReq">
	  		<h5 class="text-center">REQUIRED</h5>
	  		<div class="form-row">
		  		<div class="col-md-4">
		  			<h6 class="text-center">HOUSE TAX</h6>
		  				<label for="inputHouseTaxArrear">Arrear</label>
		  				<input type="number" class="form-control form-control-sm" id="inputHouseTaxArrear" />
		  				<label for="inputHouseTaxCurrent">Current</label>
		  				<input type="number" class="form-control form-control-sm" id="inputHouseTaxCurrent" />
		  		</div>
		  		<div class="col-md-4">
		  			<h6>LIBERTY TAX</h6>
		  			<label for="inputLibertyTaxArrear">Arrear</label>
		  			<input type="number" class="form-control form-control-sm" id="inputLibertyTaxArrear" />
		  			<label for="inputLibertyTaxCurrent">Current</label>
		  			<input type="number" class="form-control form-control-sm" id="inputLibertyTaxCurrent" />
		  		</div>
		  		<div class="col-md-4">
		  			<h6>TOTAL</h6>
		  			<label for="inputTotalTaxArrear">Arrear</label>
		  			<input type="number" class="form-control form-control-sm" id="inputTotalTaxArrear" />
		  			<label for="inputTotalTaxCurrent">Current</label>
		  			<input type="number" class="form-control form-control-sm" id="inputTotalTaxCurrent" />
		  		</div>
	  		</div>
	  	</div>
	  	
	  	<div class="form-group col-md-4 gray-box" id="taxRec">
	  		<h5 class="text-center">RECEIVED</h5>
	  		<div class="form-row">
		  		<div class="col-md-4">
		  			<h6>HOUSE TAX</h6>
		  			<label for="inputHouseTaxArrear">Arrear</label>
		  			<input type="number" class="form-control form-control-sm" id="inputHouseTaxArrear" />
		  			<label for="inputHouseTaxCurrent">Current</label>
		  			<input type="number" class="form-control form-control-sm" id="inputHouseTaxCurrent" />
		  		</div>
		  		<div class="col-md-4">
		  			<h6>LIBERTY TAX</h6>
		  			<label for="inputLibertyTaxArrear">Arrear</label>
		  			<input type="number" class="form-control form-control-sm" id="inputLibertyTaxArrear" />
		  			<label for="inputLibertyTaxCurrent">Current</label>
		  			<input type="number" class="form-control form-control-sm" id="inputLibertyTaxCurrent" />
		  		</div>
		  		<div class="col-md-4">
		  			<h6>TOTAL</h6>
		  			<label for="inputTotalTaxArrear">Arrear</label>
		  			<input type="number" class="form-control form-control-sm" id="inputTotalTaxArrear" />
		  			<label for="inputTotalTaxCurrent">Current</label>
		  			<input type="number" class="form-control form-control-sm" id="inputTotalTaxCurrent" />
		  		</div>
	  		</div>
	  	</div>
	  	
	  	<div class="form-group col-md-4 gray-box" id="taxReqPend">
	  		<h5 class="text-center">REQUIRED</h5>
	  		<div class="form-row">
		  		<div class="col-md-4">
		  			<h6>HOUSE TAX</h6>
		  			<label for="inputHouseTaxArrear">Arrear</label>
		  			<input type="number" class="form-control form-control-sm" id="inputHouseTaxArrear" />
		  			<label for="inputHouseTaxCurrent">Current</label>
		  			<input type="number" class="form-control form-control-sm" id="inputHouseTaxCurrent" />
		  		</div>
		  		<div class="col-md-4">
		  			<h6>LIBERTY TAX</h6>
		  			<label for="inputLibertyTaxArrear">Arrear</label>
		  			<input type="number" class="form-control form-control-sm" id="inputLibertyTaxArrear" />
		  			<label for="inputLibertyTaxCurrent">Current</label>
		  			<input type="number" class="form-control form-control-sm" id="inputLibertyTaxCurrent" />
		  		</div>
		  		<div class="col-md-4">
		  			<h6>TOTAL</h6>
		  			<label for="inputTotalTaxArrear">Arrear</label>
		  			<input type="number" class="form-control form-control-sm" id="inputTotalTaxArrear" />
		  			<label for="inputTotalTaxCurrent">Current</label>
		  			<input type="number" class="form-control form-control-sm" id="inputTotalTaxCurrent" />
		  		</div>
	  		</div>
	  	</div>
	  </div>
	  
	  <button type="submit" class="btn btn-primary">Save</button>
	</form>
	
	<hr/>
	
	<table id="taxTable" class="table table-sm table-hover tablemanager">
			<thead>
				<tr>
					<th>S.NO</th>
					<th>DEMAND NO</th>
					<th>DOOR NO</th>
					<th>HOUSE TYPE</th>
					<th>NAME</th>
					<th>F/H  NAME</th>
					<th>HEIGHT</th>
					<th>LENGTH</th>
					<th>TOTAL</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="tx,iter : ${allTaxAccs}">
					<tr colspan="9" data-toggle="collapse" th:attr="data-target=${'#demo' + iter.index}" class="accordion-toggle">
						<td th:text="${tx.sno}"></td>
						<td th:text="${tx.demandNo}"></td>
						<td th:text="${tx.doorNo}"></td>
						<td th:text="${tx.houseType}"></td>
						<td th:text="${tx.name}"></td>
						<td th:text="${tx.fhName}"></td>
						<td th:text="${tx.height}"></td>
						<td th:text="${tx.length}"></td>
						<td th:text="${tx.total}"></td>
					</tr>
					<tr class="p">
					    <td colspan="9" class="hiddenRow">
						    <div class="accordian-body collapse p-3" th:attr="id=${'#demo' + iter.index}">
						         <div class="row">
						         	<div class="col-md-6">
						         		<h4>Required</h4>
						         		<h6>House Tax</h6>
						         		<p>Arrear : <span  th:text="${tx.taxAccountMap['REQUIRED']?.houseTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['REQUIRED']?.houseTaxCurrent}"></span> </p>
								        
								        <h6>Library Tax</h6>
						         		<p>Arrear : <span th:text="${tx.taxAccountMap['REQUIRED']?.libertyTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['REQUIRED']?.libertyTaxCurrent}"></span> </p>
								        
								        <h6>Total Tax</h6>
						         		<p>Arrear : <span th:text="${tx.taxAccountMap['REQUIRED']?.totalTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['REQUIRED']?.totalTaxCurrent}"></span> </p>
						         	</div>
						         	<div class="col-md-6">
						         		<h4>Received</h4>
						         		<h6>House Tax</h6>
						         		<p>Arrear : <span th:text="${tx.taxAccountMap['RECEIVED']?.houseTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['RECEIVED']?.houseTaxCurrent}"></span> </p>
								        
								        <h6>Library Tax</h6>
						         		<p>Arrear : <span th:text="${tx.taxAccountMap['RECEIVED']?.libertyTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['RECEIVED']?.libertyTaxCurrent}"></span> </p>
								        
								        <h6>Total Tax</h6>
						         		<p>Arrear : <span th:text="${tx.taxAccountMap['RECEIVED']?.totalTaxArrear}"> </span></p>
								        <p>Current : <span th:text="${tx.taxAccountMap['RECEIVED']?.totalTaxCurrent}"></span> </p>
						         	</div>
						         </div>
						         
						    </div> 
					    </td> 
					</tr>
				</th:block>
			</tbody>
	</table>
			
</div> <!-- /container -->

</body>
</html>